body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(55, 55, 55);
}

#calculator-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(142, 142, 142);
    border: 0.3em solid rgb(47, 47, 47);
    border-radius: 0.8em;
    width: 20em;
    height: 100%;
    padding: 2em 0.5em 2em 0.5em;
}

#calculator-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 2em;
    width: 80%;
}

#calculator-header-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 1000;
    font-size: 1.3em;
    color: #2d2d2d;
}

#calculator-display {
    display: flex;
    flex-direction: column;
    background-color: rgb(106, 133, 106);
    font-family: 'Segment7Standard';
    text-shadow: 2px 2px 0px rgb(47, 47, 47, 0.4);
    font-style: italic;
    height: 4em;
    width: 75%;
    text-align: right;
    padding: 0.5em;
    border: 0.15em solid #2d2d2d;
    border-radius: 0.3em;
}

#calculator-display-section-1 {
    flex-grow: 1;
    font-size: 1.2em;
    transition: 0.1s ease-in;
}

#calculator-display-section-2 {
    flex-grow: 2;
    font-size: 2em;
    transition: 0.1s ease-in;
}

#calculator-keyboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 85%;
    flex-flow: wrap;
    margin-top: 0.5em;
}

/*
.key {
    background-color: grey;
    border: 0.1em solid black;
    margin: 0.1em;
    border-radius: 0.2em;
    font-family: 'Segment7Standard';
    font-style: italic;
    width: 4.6em;
    height: 4em;
    text-align: center;
    transition: 0.1s ease-in-out;
}*/

.key {
    font-family: 'Segment7Standard';
    font-style: italic;
    width: 4.4em;
    height: 4.2em;
    margin: 0.3em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(142, 142, 142);
    color: #2d2d2d;
    cursor: pointer;
    border: 0.15em solid;
    border-radius: 0.3em;
    padding: 1em;
    box-shadow: 1px 1px 0px 0px, 1px 1px 0px 0px, 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.2s ease-in-out;
}

.key:active {
    box-shadow: 0px;
    top: 0.15em;
    left: 0.1em;
}

.key-double {
    width: 9.6em;
    background-color: rgb(156, 77, 77);
}

.key:hover {
    filter: brightness(85%);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #3e3e3e;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    transition: 0.2s ease-in-out;
}

footer:hover {
    background-color: #333;
    color: #939393;
}

footer:hover a {
    color: #939393;
}

footer a {
    color: #3e3e3e;
}

.f-sct {
    width: 30%;
}

.f-sct a {
    text-decoration: none;
    transition: 0.2s ease-in-out;
    padding: 0.5em;
}

.f-sct a:hover {
    color: #d0d0d0;
    text-decoration: underline;
}